doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Edit Product
    link(href="/../css/bootstrap.min.css" rel="stylesheet")
    style.
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    // Custom styles for this template
    link(href="/../css/bootstrap.min.css" rel="stylesheet")
  body.bg-light
    .container
      .text-center
        img.d-block.mx-auto.mb-4(src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72")
        h2 Edit product
      form#editForm
        .form-group
          label(for="exampleFormControlInput1") Title
          input#exampleFormControlInput1.form-control(type="text" placeholder="" name="title" value=product.title)
        .form-group
          label(for="exampleFormControlInput2") Keywords
          input#exampleFormControlInput2.form-control(type="text" placeholder="" name="keywords" value=product.keywords)
        .form-group
          label(for="exampleFormControlInput4") Price
          input#exampleFormControlInput4.form-control(type="number" placeholder="" name="price" value=product.price)
        .form-group
          label(for="exampleFormControlInput5") Amount
          input#exampleFormControlInput5.form-control(type="number" placeholder="" name="amount" value=product.amount)
        .form-group
          label(for="exampleFormControlSelect1") Category
          select(name="categoryId")#exampleFormControlSelect1.form-control
            for cat in categories
              if cat._id.toString() === product.categoryId.toString()
                option(value=cat._id selected)= cat.title
              else
                option(value=cat._id)= cat.title
        .form-group
          label(for="exampleFormControlTextarea1") Description
          textarea#exampleFormControlTextarea1.form-control(rows="3" name="description")= product.description
        .form-group
          label(for="exampleFormControlTextarea2") Details
          textarea#exampleFormControlTextarea2.form-control(rows="3" name="details")= product.details
        .custom-file.mb-3.mt-3
          input#validatedCustomFile.custom-file-input(type="file" name="image")
          label.custom-file-label(for="validatedCustomFile") Choose image...
          .invalid-feedback Example invalid custom file feedback
        .d-flex.justify-content-between
          a.btn.btn-outline-secondary.float-right.cancel-btn(href=`/admin`) Cancel
          button.btn.btn-primary.float-right.save-btn(data-url=`/api/products/${product._id}`) Submit form
      footer.my-5.pt-5.text-muted.text-center.text-small
        p.mb-1 © 2008-2020 UzImpex
    script(src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous")
    script(src="/../js/bootstrap.min.js")
    script(src="/../js/script.js")
